@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

td, th{
  text-align: center;
}
td{
  padding: 20px 0px;
  cursor: pointer;
}
tr{
  border-bottom: 1px solid #efefef;
}
@layer components{
  .action-btn{
    @apply cursor-pointer hover:bg-[#efefef] rounded-full active:scale-110 active:animate-pulse;
  }
  .active{
    @apply bg-[#fafafa] text-[#1976d2] font-bold;
  }
  .pulse{
    @apply active:scale-110 active:animate-pulse;
  }
  .input-b{
    @apply focus:outline-none focus:border-b-2 focus:border-b-[#1976d2];
  }
  .check{
    @apply border-2 border-red-500;
  }
  .pagination-item {
    @apply border-0 border-[#1976d2] w-7 rounded-full hover:bg-[#1976d2] hover:text-white hover:border-white active:scale-110 active:animate-pulse cursor-pointer text-[#828e99];
  }
  .p-active {
    @apply bg-[#1976d2] border-white text-white;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}